<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@databaseSettings.edit.headline">Edit Database Settings</h1>
    <div>
        <a routerLink="/databaseSettingss" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@databaseSettings.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@databaseSettings.id.label" label="Id" />
    <app-input-row [group]="editForm" field="databaseProvider" i18n-label="@@databaseSettings.databaseProvider.label" label="Database Provider" />
    <app-input-row [group]="editForm" field="addTimestamps" rowType="checkbox" i18n-label="@@databaseSettings.addTimestamps.label" label="Add Timestamps" />
    <input type="submit" i18n-value="@@databaseSettings.edit.headline" value="Edit Database Settings" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
