<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@customMethod.list.headline">Custom Methods</h1>
    <div>
        <a routerLink="/customMethods/add" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2" i18n="@@customMethod.list.createNew">Create new Custom Method</a>
    </div>
</div>
@if (!customMethods || customMethods.length === 0) {
<div i18n="@@customMethod.list.empty">No Custom Methods could be found.</div>
} @else {
<div class="overflow-x-auto">
    <table class="w-full">
        <thead>
            <tr>
                <th scope="col" class="text-left p-2" i18n="@@customMethod.id.label">Id</th>
                <th scope="col" class="text-left p-2" i18n="@@customMethod.methodName.label">Method Name</th>
                <th scope="col" class="text-left p-2" i18n="@@customMethod.customTable.label">Custom Table</th>
                <th><!-- --></th>
            </tr>
        </thead>
        <tbody class="border-t-2 border-black">
            @for (customMethod of customMethods; track customMethod.id) {
            <tr class="odd:bg-gray-100">
                <td class="p-2">{{ customMethod.id }}</td>
                <td class="p-2">{{ customMethod.methodName }}</td>
                <td class="p-2">{{ customMethod.customTable }}</td>
                <td class="p-2">
                    <div class="float-right whitespace-nowrap">
                        <a [routerLink]="['/customMethods/edit', customMethod.id]" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@customMethod.list.edit">Edit</a>
                        <button type="button" (click)="confirmDelete(customMethod.id!)" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-3 rounded px-2.5 py-1.5 text-sm" i18n="@@customMethod.list.delete">Delete</button>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
