<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@customMethod.edit.headline">Edit Custom Method</h1>
    <div>
        <a routerLink="/customMethods" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@customMethod.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@customMethod.id.label" label="Id" />
    <app-input-row [group]="editForm" field="methodName" i18n-label="@@customMethod.methodName.label" label="Method Name" />
    <app-input-row [group]="editForm" field="methodBody" rowType="textarea" i18n-label="@@customMethod.methodBody.label" label="Method Body" />
    <app-input-row [group]="editForm" field="annotations" rowType="textarea" i18n-label="@@customMethod.annotations.label" label="Annotations" />
    <app-input-row [group]="editForm" field="customTable" rowType="select" [options]="customTableValues" i18n-label="@@customMethod.customTable.label" label="Custom Table" />
    <input type="submit" i18n-value="@@customMethod.edit.headline" value="Edit Custom Method" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
